*{
    padding: 0;
    margin: 0;
}

#blockly-container{
    height: 100vh;
    width: 49vw;
}

#visualizer{
    height: 550px;
    width: 550px;
    margin: 0 auto;
}

#control-bar{
    height: 15vh;
    text-align: center;
}